// colors
$color-primary: #1e0e7ac2;
$color-secondary: #4e9eb6cc;
$color-white: #fff;
$color-blue-white: rgb(237, 240, 243);
$color-grey: #777;
$color-black: #000;
$color-dark-green: rgb(35, 61, 35);

//Font

$default-font-size: 1.6rem; // colors
$color-primary: #1e0e7ac2;
$color-secondary: #4e9eb6cc;
$color-white: #fff;
$color-blue-white: rgb(237, 240, 243);
$color-grey: #777;
$color-light-grey: rgba(236, 230, 230, 0.945);
$color-black: #000;
$color-dark-green: rgb(35, 61, 35);
$color-light-green: rgb(126, 167, 126);
$color-light-pink: rgb(211, 117, 195);
$color-gold: rgb(219, 196, 120);
